absl-py
annotated-types
anyio
astunparse
beautifulsoup4
blinker
certifi
charset-normalizer
click
deepface
fastapi
filelock
fire
Flask
flask-cors
flatbuffers
gast
gdown
google-pasta
grpcio
gunicorn
h11
h5py
idna
itsdangerous
Jinja2
joblib
keras
libclang
lz4
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
mtcnn
namex
numpy
opencv-python
opt_einsum
optree
packaging
pandas
pillow
protobuf
pydantic
pydantic_core
Pygments
PySocks
python-dateutil
python-multipart
pytz
requests
retina-face
rich
scikit-learn
scipy
setuptools
six
sniffio
soupsieve
starlette
tensorboard
tensorboard-data-server
tensorflow
termcolor
tf_keras
threadpoolctl
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
Werkzeug
wheel
wrapt
